$gid_bd:#cccccc;
$gid_t:#cccccc;
.mid_logo{
  width: 200px;
  margin: 50px auto 0 auto;
}
.mid_logo img{
  width: 200px;
}
.join_table{
    width: 550px;
    margin: 0 auto;
    ul{
      margin-top: 40px;
      border: 1px solid $gid_bd;
    }
    li{
      height: 50px;
      margin: 10px;
      vertical-align: middle;
      border-bottom: 1px solid $gid-bd;
    }
    li:first-child{height: 46px;}
    li:last-child{border-bottom: 0px; height: 42px;}
    select{
      width:20%;
      font-size: 16px;
      background-color: transparent;
    }
    input{
      height: 80%;
      font-size: 16px;
      text-align: center;
    }

.email_input_wrap{
  img{
    width: 30px;
    vertical-align: middle;
  }
  .email{
    width: 33%;
    color:$gid_t;
  }
  #email{
    font-size: 14px;
  }
}

.user_password_wrap{
      position: relative;
  img{
      width: 30px;
      vertical-align: middle;
  }
  .password{
    width: 89%;
    margin: 0 10px;
  }

  .user_password{
    color:$gid_t;
    position: absolute;
    top: 13px;
    left: 70px;
  }
  }
  span{
    margin-left: 5px;
    vertical-align: middle;
    font-size: 12px;
  }
}
.user_name_wrap{
  position: relative;
  img{
    width: 30px;
    vertical-align: middle;
  }
  .name{
    width: 89%;
    margin: 0 10px;
  }
  .user_name{
    color:$gid_t;
    position: absolute;
    top: 13px;
    left: 70px;
    }
}
.user_number_wrap{
  position: relative;
  img{
    width: 30px;
    vertical-align: middle;
  }
  .number{
    width: 89%;
    margin: 0 10px;
  }
  .user_number{
    color:$gid_t;
    position: absolute;
    top: 13px;
    left: 70px;
  }
  span{
      margin-left: 5px;
      vertical-align: middle;
      font-size: 12px;
  }
}
.user_birthday_wrap{
  position: relative;
  img{
    width: 30px;
    vertical-align: middle;
  }
  .birthday{
    width: 89%;
    margin: 0 10px;
  }
  .user_birthday{
    color:$gid_t;
    position: absolute;
    top: 13px;
    left: 70px;
  }
}

.user_gender_wrap{
  position: relative;
  img{
    margin-top: 5px;
    width: 30px;
  }
  .user_gender{
    color:$gid_t;
    position: absolute;
    top: 13px;
    left: 70px;
    .co{
      text-align: center;
      font-size: 12px;
    }
  }
  .user_gender_b{
    position: absolute;
    top: 13px;
    left: 130px;
  }
  .gender-b{
    width: 45px;
    position: absolute;
  }
  .gender-b-text{
    margin-left: 20px;
    vertical-align: bottom;
    font-size: 14px;
  }

  .user_gender_g{
    position: absolute;
    top: 13px;
    left: 230px;
  }
  
  .gender-g{
    width: 45px;
    display: block;
    position: absolute;
  }
  .gender-g-text{
    margin-left: 20px;
    vertical-align: middle;
    font-size: 14px;
  }
}


.agreement_check{
  margin-top: 20px;
  .list_check_group{
    width: 550px;
    height: 100%;
    margin:  0 auto;
    border: 1px solid $gid_bd;
  }
  .list_check{
    padding: 10px;
    height: 100%;
    .checkbox{ 
      width: 30px; 
      height: 30px;
      vertical-align: middle;
    }
    a{
      float: right;
      vertical-align: middle;
      font-size: 9px; 
      border: 1px solid $gid_bd;
      padding: 6px 6px 4px 6px;
      border-radius: 10px;
    }
    .redt{
      display: inline-block;
      vertical-align: middle;
      margin-left: 5px;
      font-size: 12px;
      color: red;
    }
    .svt{ width: 250px; margin-left: 50px;  font-size: 12px; color:$gid_bd;}
  }
  .list_check:first-child{
    background-color: $gid_bd; 
    height: 30px;
  }
}
.click_onoff_1{ 
  display: none;
  margin-left: 20px;
.click{
  margin-top: 10px;
  border: 1px solid $gid_bd;

.click_group{
  padding:10px;
  border-bottom: 1px solid $gid_bd;
}
.click_group:last-child{
  border-bottom: 0px;
}
  h4{
    font-size: 12px;
    margin-bottom: 10px;
  }
  p{
    font-size: 10px;
  }
}
}
.click_onoff_2{display: none; margin-left: 20px; }
.no_check{
  width: 500px;
  font-size: 12px; 
  margin: 5px auto 0 auto;
  color: $gid_t;
}
.join_backg{
  width: 180px;
  margin: 50px auto 0 auto;
.do_join{
  background: #000000;
  color: #ffffff;
  font-size: 18px;
  padding: 20px;
  }
}

