* {
    padding: 0;
    border: 0;
    margin: 0;
}
a {text-decoration: none;}
li {list-style: none;}

body {font-family: "Montserrat", sans-serif;}

/* =====================================
            GRID SYSTEM
===================================== */

[class*="col-"] {
   float: left;
   box-sizing: border-box;
   padding: 0 10px;
}
.col-m-1  {width: 8.33%;}
.col-m-2  {width: 16.66%;}
.col-m-3  {width: 25%;}
.col-m-4  {width: 33.33%;}
.col-m-5  {width: 41.66%;}
.col-m-6  {width: 50%;}
.col-m-7  {width: 58.33%;}
.col-m-8  {width: 66.66%;}
.col-m-9  {width: 75%;}
.col-m-10 {width: 83.33%;}
.col-m-11 {width: 91.66%;}
.col-m-12 {width: 100%;}

@media(min-width:768px){
    .col-t-1  {width: 8.33%;}
    .col-t-2  {width: 16.66%;}
    .col-t-3  {width: 25%;}
    .col-t-4  {width: 33.33%;}
    .col-t-5  {width: 41.66%;}
    .col-t-6  {width: 50%;}
    .col-t-7  {width: 58.33%;}
    .col-t-8  {width: 66.66%;}
    .col-t-9  {width: 75%;}
    .col-t-10 {width: 83.33%;}
    .col-t-11 {width: 91.66%;}
    .col-t-12 {width: 100%;}
}

@media(min-width:1024px){
    .col-d-1  {width: 8.33%;}
    .col-d-2  {width: 16.66%;}
    .col-d-3  {width: 25%;}
    .col-d-4  {width: 33.33%;}
    .col-d-5  {width: 41.66%;}
    .col-d-6  {width: 50%;}
    .col-d-7  {width: 58.33%;}
    .col-d-8  {width: 66.66%;}
    .col-d-9  {width: 75%;}
    .col-d-10 {width: 83.33%;}
    .col-d-11 {width: 91.66%;}
    .col-d-12 {width: 100%;}
}


/* =====================================
            COMMON SYSTEM
===================================== */

.clearfix::after{
    content: "";
    display: block;
    clear: both;
}
.layout--center {
    max-width: 1024px;
    margin: 0 auto;
}
.layout--table {
    display: table;
    width: 100%;
    height: 100%;
}
.layout--table-cell {
    display: table-cell;
    text-align: center;
    vertical-align: middle;
}

/* =====================================
         utility
===================================== */
.padding-0 {padding: 0;}

/* =====================================
         design
===================================== */

html,body{ height: 100%; box-sizing: border-box; font-style: "Vladimir Script"; overflow-x: hidden;}

/*==========================================모바일아래로=========================================>*/
.width1024_w{display: none; }

.header_menu-w ul {position: relative;}

.header_menu-w li{
    position:absolute;
    width: 100%;
    height: 50px;
    top: 0px;
    background-color: #ffffff; 
    text-align: center;
    z-index: 3000;
}

.mein_logo-b{ width: 150px; margin-top: 10px;}

.w_meinicon1{ float: left; position: relative; z-index: 3001; }
.w_meinicon1 img{ 
    width: 20px;
    top:15px;
    left: 15px;;
    position: fixed;
}

.w_meinicon2{
    float: right; 
    right: 100px; 
    display: inline-block;
}
.w_meinicon2 li{
    float: left; 
    margin: 20px 20px 0px 20px; 
    position: relative;
    z-index: 3002;
}
.ooo_1 {
    width: 22px;        
    position: fixed; 
    right: 115px;
    top:4px;
}
.ooo_2 {
     width: 22px; 
     position: fixed; 
     right: 55px;
     top:4px;
}
.icon_hat{top: 20px; width: 20px; right:  98px; position: fixed;}
.icon_cat{top: 20px; width: 20px; right:  35px; position: fixed; }

/*==========================================모바일위로=========================================>*/
.samsan{
    display: none;
    position: relative;
}
.inputbox{
    width: 240px;
    margin: 10px 5px;
    background-color: #1e1e1e;
    border: 2px solid #2b2b2b;
    box-sizing: border-box;
}/* 스크립트 작업시 메뉴 열었을때 메뉴바 제외하고 페이드 아웃 0.5~0.8 정도 */

.inputbox img{ left:210px; top: 20px;}

.samsan-menu{
    position: absolute;
    width: 250px;
    height: 3938px;
    background-color: #000000;
    z-index: 9999;    
}
.samsan-menu input{
    width: 180px;
    padding: 5px 0;
    margin: 5px;
    color: #ffff;
    background-color: #1e1e1e;
}

.samsan-menu a{
    display: block;
    font-size: 18px;
    color:#cfcfcf;
    text-align: center;
    padding: 15px 0;
    border-bottom: 2px solid #2b2b2b;   
}
.samsan-menu a:hover{
    color: #ffff;
    transition: all 1s;
    -webkit-
    -moz-
    -ms-
    -o-
}
.asfaf{display: inline;}

/*==========================================평상시아래로=======================================>*/

.join_login{
    width: 100%;
    height:50px;
    background-color: #000000;
}
.join_login img{
    margin: 13px 0 13px 30px;
    float: left;
}
.Search_dod{
    margin-right: 250px;
}
.Search{
    color:#ffff;
    background-color: #000000;
    border-bottom: 2px solid #ffff;
    width: 200px;
    height: 20px;
}
.dod{
    width: 20px;
    vertical-align: middle;
}
.jolo{
    float: right;
    margin: 15px 30px 15px 0;
}
.jolo li{float: left;}
.jolo a{
    color: #ffff;
    font-size: 16px;
    margin: 0 10px;
}
.header_menu-b{ 
    width: 100%;
    text-align: center;
    margin-top: 50px;
    margin-left: 50px;
}
.header_menu-b li{
    display:inline; 
    position: relative;
    margin: 0 20px;
}
.mein_logo img {width: 120px; vertical-align: middle;}
.header_menu-b a{
                color: #000000; 
                font-size: 16px;
}

.hot2 {
    position: absolute; 
    top: -35px;
    left: 50%;
}

.oo {
    position: absolute; 
    width: 22px;
    top:-80%;;
    right: 50%;
    margin-right: 15px;
 
}

[class*="icon-"] {width: 22px; margin-left: -10px}
/*==========================================CAT호버 안댐=======================================>*/
.cat_icon-2{position: relative;}
.icon-2:hover .incat{display: block;}
.incat{
    position: fixed; 
    width: 300px; 
    height: 190px; 
    background-color: #ffffff; 
    right: 20%; 
    top: 10%; 
    display: none;
}
.incat div:first-child{ border-bottom: 3px solid #e5e5e5; padding-bottom: 50px;}
.upup{
    font-size: 14px; 
    font-weight: 900;
    margin: 15px 0 0 20px;
    float: left;
}
.incat a{
    font-size: 30px; 
    font-weight: bold; 
    color: #000000; 
    margin: 4px 40px 0 0; 
    float: right;
}
[class*="doun_"]{ 
    font-size: 14px; 
    font-weight: bold; 
    color: #ffff;
    background-color: #5b5b5b;  
    padding: 10px 15px;
}

.doun_1{ margin: 50px 19px; background-color: #000000; float:left; letter-spacing: 0.025em;}
.doun_1:hover{background-color: crimson;}
.doun_2{ margin: 50px 19px; float: right; letter-spacing: 0.025em;}
.doun_2:hover{background-color:cornflowerblue;}
/*==========================================평상시메뉴=======================================>*/
/* 작업해야함.
[class*="mein-"] { 
                position: absolute; 
                top:0; 
                left: 0; 
                display: none;
}*/

.icon-3{margin-left: -35px;}

.shop{position: relative; }
.shop:hover .hover_w{
    display: inline-block;
    transform: 
}

.hover_w{
    display: none;
    width: 700px;
    height: 380px;
    background-color: rgba(255,255,255,0.8);
    top: 30px;
    left: -240px;
    position: absolute;
}

.hover_img{
    position: absolute;
    top: 25px;
    right: 50px;
}
.hover_img img{
    display: block;
    margin-bottom: 20px;
    width: 300px;
    height: 200px;
}
.hover_img a{
    font-size: 20px;
    color: #000000;
}
.hover_w-b{
    top: 25px;
    left: 25px;
    position: absolute;
    display: inline-block;
}
.hover_w-b a{
    width: 50px;
    font-size: 12px;
    padding: 10px;
    display: block;
    color: #000000;
}
.hover_w-b a:hover{
    background-color: rgba(0,0,0,0.5);
    color: #ffffff;
    border-radius: 10px;
    transition: all 1s;
    -webkit-
    -moz-
    -ms-
    -o-
}
.hover_w-w{
    top: 25px;
    left: 125px;
    position: absolute;
    display: inline-block;
}
.hover_w-w a{
    width: 50px;
    font-size: 12px;
    padding: 10px;
    margin-bottom: 1px;
    display: block;
    color: #000000;
}
.hover_w-w a:hover{
    background-color: rgba(0,0,0,0.5);
    color: #ffffff;
    border-radius: 10px;
    transition: all 1s;
    -webkit-
    -moz-
    -ms-
    -o-
}
.hover_life{
    top: 25px;
    left: 225px;
    position: absolute;
    display: inline-block;
}
/*트랜스폼 트랜지션 공부후 수정*/
.hover_life a{
    width: 50px;
    font-size: 12px;
    padding: 10px;
    margin-bottom: 1px;
    display: block;
    color: #000000;
    
}
.hover_life a:hover{
    box-sizing: border-box;
    border-bottom: 1px solid #000000;
    transition: all 1s;
}
/*아래로 중간 discount 안내*/
.product_discount{
    margin: 50px 20px 0 20px;
}
.blue{
    width: 492px;
    height: 150px;
    display: table;
    box-sizing: border-box;
    border: 1px solid blue;
    float: left;
}
.blue h3{
    display: table-cell;
    text-align: center;
    vertical-align: middle;
}
.pink{
    width: 492px;
    height: 150px;
    display: table;
    box-sizing: border-box;
    border: 1px solid pink;
}
.pink h3{
    display: table-cell;
    text-align: center;
    vertical-align: middle;
}

.product_name{
    margin-top:100px;
    text-align: center;
    font-size: 3rem;
    border-bottom: 2px solid #696969;
}

/*아래로 왼쪽 메뉴바*/
.content_nav{
    float: left;
    width: 180px;
    margin-top: 20px;
    margin-left: 20px;
}
.content_nav li{
    border: 1px solid #000000;
    box-sizing: border-box;
    margin-bottom: 10px;
}

.menu_serve{
    max-height: 200px;
    overflow-y: scroll;
}
.menu_serve a{
    display:block;
    margin-top:10px;
    margin-left: 20px;
    font-size: 12px;
    text-align: left;
}
.menu_button{
    border-bottom: 1px solid #696969;
    background-color: #ffff;
    width: 175px;
    padding: 10px 0;
    text-align: center;
    z-index: 999;
}
.menu_button button{
    float: right;
    margin:0 10px 0 45px;
}
.serve_serve a{
    font-size: 8px;
    margin-left: 40px;
}
/*아래로 상단 타그스크롤링바*/

.tag_scroll{
    float: left;
    vertical-align: middle;
    width: 75%;
    height: 40px;
    margin-top: 20px;
    margin-left: 20px;
    margin-bottom: 20px;
    border-bottom: 1px solid #696969;
}
.tag_scroll p{
    margin-top: 10px;
    margin-left: 10px;
    display: inline-block;
}
.tag_scroll ul{
    float: right;
}
.tag_scroll li{
    margin-top: 10px;
    margin-right: 10px;
    float: left;
}
.product_background ul{
    margin: 0 10px 0 210px;
}
.product{
    margin-bottom: 10px;
    text-align: center;
}
.product_g li img {
    width: 100%;
}
.product_g p {
    font-size: 12px;
    margin-top: 5px;
}















































@media(min-width:1920px){
    .mein_logo img { width: 200px; vertical-align: middle;}
    .header_menu-b a{ font-size: 20px; margin: 0 30px;}
}
@media(max-width:1920px){
    .mein_background{ background-position: top;}
    
    .box_1{height: 800px;}
    .big_1-img{height: 800px;}
    .big_1-ling h1{font-size: 80px;}
    
    .box_2{height: 400px;}
    .box_2 a{ font-size: 42px;}
    .box_2 p{ font-size: 21px;}
    
    .box_3-img{height: 400px;}
    .box_3-bb a{ font-size: 18px; padding: 12px 22px;}
    
    .box_4-img{height: 400px;}
    .box_4-bb a{ font-size: 18px; padding: 12px 22px;}
    
    .box_5{height: 400px;}
    .box_5 a{ font-size: 42px;}
    .box_5 p{ font-size: 21px;}
    
    .big_6-ling h1{font-size: 80px;}
    .big_6-img{height: 800px;}
    
    .box_7-img{height: 400px;}
    .box_7-bb a{ font-size: 18px; padding: 12px 22px;}
    
    .box_8{height: 400px;}
    .box_8 a{ font-size: 42px;}
    .box_8 p{ font-size: 21px;}
    
    .box_9{height: 400px;}
    .box_9 a{ font-size: 42px;}
    .box_9 p{ font-size: 21px;}
    
    .box_10-img{height: 400px;}
    .box_10-bb a{ font-size: 18px; padding: 12px 22px;}
    
    .bottom{height: 800px;}
    .bottom_text p{font-size: 76px;}
}

@media(max-width:1500px){
    .content-5{display: none;}
    .content-4{width: 25%}
    .content-3{width: 25%}
    .content-2{width: 25%}
    .content-1{width: 25%}
    
    .box_1{height: 600px;}
    
    .big_1-img{height: 600px;}
    
    .box_2{height: 300px;}
    .box_2 a{ font-size: 30px;}
    .box_2 p{ font-size: 16px;}
    
    .box_3-img{height: 300px;}
    .box_3-bb a{ font-size: 14px; padding: 10px 20px;}
    
    .box_4-img{height: 300px;}
    .box_4-bb a{ font-size: 14px; padding: 10px 20px;}
    .box_5{height: 300px;}
    .box_5 a{ font-size: 30px;}
    .box_5 p{ font-size: 16px;}
    
    .big_6-img{height: 600px;}
    
    .box_7-img{height: 300px;}
    .box_7-bb a{ font-size: 14px; padding: 10px 20px;}
    
    .box_8{height: 300px;}
    .box_8 a{ font-size: 30px;}
    .box_8 p{ font-size: 16px;}
    
    .box_9{height: 300px;}
    .box_9 a{ font-size: 30px;}
    .box_9 p{ font-size: 16px;}
    
    .box_10-img{height: 300px;}
    .box_10-bb a{ font-size: 14px; padding: 10px 20px;}
    .bottom{height: 600px;}
}

@media(max-width:1200px){
    .content-5{display: none;}
    .content-4{display: none;}
    .content-3{width: 33.33%}
    .content-2{width: 33.33%}
    .content-1{width: 33.33%}
    
    .box_2 a{ font-size: 30px;}
    .box_2 p{ font-size: 16px;}
    
    .box_3-bb a{ font-size: 14px; padding: 10px 20px;}
    .box_4-bb a{ font-size: 14px; padding: 10px 20px;}
    
    .box_5 a{ font-size: 30px;}
    .box_5 p{ font-size: 16px;}
    
    .box_7-bb a{ font-size: 14px; padding: 10px 20px;}
    .box_8 a{ font-size: 30px;}
    .box_8 p{ font-size: 16px;}
    .box_9 a{ font-size: 30px;}
    .box_9 p{ font-size: 16px;}
    .box_10-bb a{ font-size: 14px; padding: 10px 20px;}
    .footer_bottom{height: 430px}
    .footer_text p{display: inline-block;}
}

@media(max-width:768px){
    .content-5{display: none;}
    .content-4{display: none;}
    .content-3{display: none;}
    .content-2{width: 50%;}
    .content-1{width: 50%;}
    
    .box_1{width: 100%;}
    .big_1-ling h1{font-size: 60px;}
    
    .box_2{width: 50%;}
    .box_2 a{ font-size: 28px;}
    .box_2 p{ font-size: 14px;}
    
    .box_3-img{width: 50%;}
    .box_3-bb a{ font-size: 14px; padding: 10px 20px;}
    
    .box_4-img{width: 50%;}
    .box_4-bb a{ font-size: 14px; padding: 10px 20px;}
    
    .box_5{width: 50%;}
    .box_5 a{ font-size: 28px;}
    .box_5 p{ font-size: 14px;}
    
    .big_6-img{width: 100%;}
    .big_6-ling h1{font-size: 60px;}
    
    .box_7-img{width: 50%;}
    .box_7-bb a{ font-size: 14px; padding: 10px 20px;}
    
    .box_8{ width: 50%;}
    .box_8 a{ font-size: 28px;}
    .box_8 p{ font-size: 14px;}
    
    .box_9{width: 50%;}
    .box_9 a{ font-size: 28px;}
    .box_9 p{ font-size: 14px;}
    
    .box_10-img{width: 50%;}
    .box_10-bb a{ font-size: 14px; padding: 10px 20px;}

    .bottom{height: 400px;}
    .bottom_text p{font-size: 40px;}
    .footer_bottom{height: 711px}
    .footer_bottom-background-color{width:640px;}
    .footer_bottom-background-color li{margin: 3% 5px;}
    .footer_text p{display: block;}
}


@media(max-width:1023px){
    .width1024_w{display: block;}
    .width1024_b{display: none;}
    .bottom{height: 400px;}
    .footer_bottom{height: 721px}
    .footer_bottom-background-color{width:640px;}
    .footer_bottom-background-color li{margin: 3% 5px;}
    .footer_text p{display: block;}
}